.color_circle_sector {
    width: 0;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-style: solid;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

.word_circle_sector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    will-change: transform;
}
.word_circle_sector_typography {
    will-change: transform, transition;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 63px;
}


@media screen and (max-width: 1500px) {
    .word_circle_sector_typography {
        font-size: 2rem;
    }
}
